.principal{
    width: 450px;
    margin: auto;
    background: rgba(93,125,167,1);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 7px;
}

h2{
    color: #fff;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

.buttomClass{
    width: 100%;
    background: #945C5C;
    color: #fff;
    border: none;
    text-align: center;
    font-weight:bold;
}

.buttomClass:hover{
    cursor: pointer;
}

@media (max-width:480px){
    .principal{
        width: 100%;
    }
}